.chatbot button {
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-transform: none;
    background-color: #346980;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;    
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, color 0.1s, transform 0.3s;
}

.chatbot button:hover {
    background-color: #334980;
    color: #fff;
}